<article class="product" {{action "onClick" }}>
    <div>
    <div class="prod-info" style="font-size: 18px">{{product.name}}</div>
    <div class="prod-info" style="margin-block: 15px;">{{product.description}}</div>
    <div class="prod-info" style="margin-block: 15px;">{{product.comments.length}} comment(s)</div>
    </div>
    <div class="prod-fav">
        {{product.upvotes}} upvotes
    </div>
</article>
