{{!-- {{outlet}} --}}

{{!-- <h1>sadasdfads {{model}} </h1> --}}
<article class="prod-card">
    <section>
        <h4>{{model.name}}</h4>
        <p>{{model.description}}</p>
        {{!-- <h3>{{model.comments.length}}</h3> --}}
    </section>
    <hr>
    <section>
        {{#each  model.comments as |comment|}}
        <div class="comment">{{comment}}</div>
        {{/each}}
    </section>
</article>
